
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
}

.heading{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-family: 'Prompt', sans-serif;
    color: #00e600;
}

.root-container{
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

.main-container{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border: 2px solid #e60000;
  border-radius: 10px;
  padding: 2.0%;
  background:#ff6666;
}

.display-tab{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 2px solid #fff;
  color:#fff;
  font-family: 'Asap', sans-serif;
  padding-left: 63px;
  padding-right: 63px;
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 55px;
  width:195px;
  /*
  padding-left: 10px;
  padding-right: 100px;
  */
  font-size: 154%;
  background-color: #525354;
}

.body-container{
  padding-top:13%;
  padding-left:3%;
}

.btn{
  width:18.9%;
  font-size: 119%;
  font-weight: 700;
  font-family: 'Asap', sans-serif;
  padding: 3.5% 0.1%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #fff;
  color: #0066ff;
  border:none;
  border-radius: 7px;
}

.btn:hover{
  background-color: #ebf3ff;
}


.oper{
  font-size: 130%;
  padding: 3.0% 0.1%;
}
